*{
  margin:0;
}
body{
  padding:0;
}
 img{
  width: 100%;
  height: 100%;
}


/*header*/
header{
  width: 90%;
  margin: auto;
}

header img{
  width: 25px;
  height: 31px;
  margin: 3% auto;
}

header h1{
  width: 100%;
  margin: auto;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 20px;
  color: #484848;
  font-weight: 200;
}

header h1 span{
 font-size: 20px;
 /*letter-spacing: -0.8px;*/
 font-weight: bold;
 font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
 color:#ff5A5f;
 }
/* */

.container{
  width: 90%;
  margin: auto;
}

.tab input{
  border: none;
}

 .tab{
  width: 100%;
  height: 45px;
  font-size: 20px;
  margin: 5% auto;
  box-shadow: 0 1px 3px #dce0e0;
  border-radius: 4px;

}

/*rules commun*/
  .form1, .form2, .form3, .footerpc{
    display: none;
  }

   .navh,.art11,.art111,
    .art22,.art222,.art33,.art333, .art44,
    .art444{
    display: none;
  }
  /*end rules vommun*/

.art1, .art11, .art2,.art22{
  justify-content: space-around;
  width: 41%;
  margin: 1%;
}
.art1 p,.art2 p .art3 p{
  color:#484848 ;
}

.sect1,.sect2, .sect3, .sect4{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 5% auto;
}

h3,h2, .art5 p{
  /*margin-left: 2.7%;*/
  /*padding: 0.5em;*/
  color: #484848 ;
}

.art1 figure{
  width: 100%;
  margin: 0;
}


.sect4 figure{
  margin: 2%;
}

.art5 button{
  background-color: #008489;
  color: #fff;
  text-align: center;
  padding: 0.5em;
  border-radius: 5px;
  /*margin-left: 3%;*/
  margin-top: 1em;
}
.footer{
  width: 100%;
  /*height: 260px;*/
}
.footerm{
  width: 100%;
}

.formfooter{
  width: 45%;
  padding: 1.2em;
  margin-top: 1em;
  background-color: white;
  margin-left: 3%;
  text-align: center;
  border: 1px solid  #DBDBDB;
  text-transform: capitalize;
  font-size: 16px;
}
.footer{

  margin-left: 3%;
  margin-top: 2em;
  border-top: 1px solid #76768B;
  padding: 1em;


}

.logo img{
  width: 21px;
  height: 21px;
  /*vertical-align: top;*/
}

 .sectfoot, .formfooter{
   display: flex;
   flex-direction: row;
 }
 .footer h5{
  color: #76768B;
  /*display: inline-block;*/
}
.nav5{
  background-color: red;
}
.footer img{
  width: 14px;
  height: 14px;

}


.footer a{
  text-decoration: none;
  color:#76768B;
}
.footer span{
  /*margin-left: 1em;*/
}
.footer p{
  margin-top: 0.5em;
}

.end1, .end2{
  display: flex;
  width: 100%;
}

.end2{
  justify-content: flex-start;
  align-items: baseline;
}



/*tablette*/

@media (min-width: 768px) {



  .tab{
    display: none;
  }

  .navh,.form1,.form2,.form3,.art11,.art22,.art33,.art44{
    display: block;
  }

  .footerpc{
    display: flex;
    width: 60%;
  }

  .footerm{

    width: 40%;
  }

  .sectfoot{
    display: flex;
    flex-direction: column;
  }

  .footer{
    display: flex;
  }

  header h1 span{
   font-weight: bold;
   font-size: 45px;
   line-height: 50px;
   font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
   color:#ff5A5f;
   }


  header h1{
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    color: #484848;
    font-size: 45px;
    line-height: 50px;
    margin: 5% auto;
  }


 header li{
  display: flex;
  margin: auto 5%;
  justify-content: space-between;
}

header a{
  color:#484848;
  text-decoration: none;
}

.headertpc{
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-top: 3%;
}

.navh ul{
  display: flex;
  margin: 2% auto;
}


form{
  display: flex;
  width: 100%;
  height: 81px;
  background-color: red;
  border-radius: 10px;
  border: 1px solid #DCE0E0;

}
.form1,.form2,.form3{
  font-size: 20px;
  width:100%;
}

.form1 input,.form2 input,.form3 input{
  border: none;
  font-size: 17px;
}

    .sect4{
      display: flex;
      align-content: space-around;
    }

.sect1,.sect2,.sect3{
  display: flex;
  width: 100%;
}

.sect5 {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.art3, .art33{
  margin: auto 1%;
}

 .containerfoot{
   display: flex;
   justify-content: space-around;
   margin-top: 1em;
   border-top: 1px solid #76767E;
   flex-wrap: wrap;
 }

 .nav2 a,.nav3 a, .nav4 a{
   text-decoration: none;
   color: #76767E;
 }
 .nav2 li,.nav3 li,.nav4 li{
   list-style-type: none;
 }

}

@media (min-width: 1024px) {

    .art111, .art222, .art333, .art444{
      display: block;
    }

    .art1, .art11, .art111, .art2, .art222, .art22{
      width: 25%;
    }

    header h1{
      width: 50%;
      text-align: left;
    }
  }
